@page "/"
@implements IDisposable
@attribute [Authorize(Roles = "Admin")]


<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1>@_languageTable["HelloWorld"]</h1>
    <p>Welcome @_FirstName to ÜBER</p>
</div>
<div id="map"></div>