@inherits LayoutComponentBase
@using Blazored.Toast.Configuration;

<PageTitle>Vista</PageTitle>

<RadzenContextMenu />
<RadzenTooltip />
<RadzenNotification />
<RadzenDialog />
<BlazoredToasts Position="ToastPosition.BottomLeft"
                Timeout="10"
                IconType="IconType.FontAwesome"
                ErrorIcon="fa-regular fa-xmark"
                InfoIcon="fa-light fa-square-info"
                SuccessIcon="check"
                WarningIcon="fa-regular fa-triangle-exclamation"
                MaxToastCount="3"
                ShowProgressBar="true" />

<RadzenLayout  Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar2Expanded = !sidebar2Expanded)" />
            <PageHeader />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar2Expanded" class="bg-Menu">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <div>
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar2Expanded = true;
}