@inject HotKeys HotKeys
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@implements IDisposable

<div class="modal ">
    <div class="modal-content bg-danger">
        <div class="modal-header">
            <h3 class="modal-title">Delete</h3>
        </div>
        <div class="modal-body">
            <p class="message">@languageTable["DeleteConfirmation"] @Message</p>
        </div>
        <div class="modal-footer">
            <RadzenButton Click="OK" ButtonStyle="ButtonStyle.Primary" class="modal-button">@languageTable["Yes"]</RadzenButton>
            <RadzenButton Click="Cancel" ButtonStyle="ButtonStyle.Light" class="modal-button">@languageTable["No"]</RadzenButton>
        </div>
    </div>
</div>


@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    [Parameter] public string? Message { get; set; }
    I18nText.LanguageTable languageTable = new I18nText.LanguageTable();

    HotKeysContext? HotKeysContext;

    protected override async void OnInitialized()
    {
        languageTable = await I18nText.GetTextTableAsync<I18nText.LanguageTable>(this);
        HotKeysContext = HotKeys.CreateContext()
            .Add(Code.Escape, async () => await Cancel()); 
    }

    async Task OK() => await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    async Task Cancel() => await BlazoredModal.CancelAsync();

    public void Dispose()
    {
        if (HotKeysContext is not null)
        {
            HotKeysContext.Dispose();
        }
    }
}